<a href="https://colab.research.google.com/github/gkjunior/nachschlage_notebooks/blob/main/SQL_Connection_Py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# MicrosoftSQL Verbindung mit Python aufbauen

# pip3 install --user pyodbc

 import pyodbc

In [ ]:
# Server Config erstellen

server = 'ip or dns'
database = 'database'
username = 'username'
password = 'password'

# connection-element

conn = pyodbc.connect('Driver = {ODBC Driver 17 for SQL Server}; SERVER = '+server+\
                      ';DATABASE = ' +database+ ';UID=' +username+ ';PWD=' +password)

In [ ]:
## Verbindung mit Python Nativ (Unkomfortabel)

cursor = conn.cursor # cursor-element f√ºr eigentliche Abfrage bauen.

test_query = cursor.execute('select top(100) * from sample.dbo.sample1')

# Simples Ablesen:
for i in cursor:
  print(i)

# Connection noch closen
cursor.close()

In [ ]:
## Wesentlich nicer mit Pandas

import pandas as pd

# conn Element analog zu oben

df = pd.read_sql_query('select top(100) * from sample.dbo.sample1', conn)

# connection closen
conn.close()

print(df.head(10))